@import url(variable.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-image: url(variable.css);
    overflow: hidden;
}
body::-webkit-scrollbar{
    width: 8px;
    background: rgba(108, 107, 107, 0.653);
    border-radius: 10px;
}
body::-webkit-scrollbar-thumb{
    width: 1px;
    background: rgba(44, 53, 145, 0.653);
    border-radius: 5px;
}

.mainGrid{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 16% 67% 19%;
    grid-template-rows: 1;
}

.mainGridSection{
    border: 1px solid green;
}


#mGS1{
    display: grid;
    grid-template-rows: 12% 88%;
    grid-template-columns: 1;
}
.mGS1Section{
    border: 1px solid pink;
}


#mGS3{
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 12% 74% 14%;
}
.mGS3Section{
    border: 1px solid pink;
}


#mGS2{
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 12% 20% 54% 14%;
}
.mGS2Section{
    border: 1px solid pink;
}
.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 380px;
}

.container .progress {
    position: relative;
    width: 148px;
    height: 148px;
    border-radius: 50%;
    color: #fff;
    background: conic-gradient(var(--clr) calc(var(--i) * 1%), #4f4c4ca3 calc(var(--i) * 1%));
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .progress h3 {
    position: absolute;
    top: 31%;
    left: 52%;
    transform: translate(-50%, -50%);
    font-size: 0.9em;
    z-index: 1;
    margin: 0;
    font-family: "roboto-mono";
}

.container .progress h3 span {
    font-size: 0.2px;
    font-weight: 400;
    font-family: "roboto-mono";

}
.container .progress::after {
    content: "";
    position: absolute;
    inset: 10px;
    border-radius: 50%;
    background: #111111;
}
.container .progress::before{
    background: var(--clr);
    transform: rotate(calc(((var(--i) - 50) * 0.01turn)));
}
.container .progress.less::before{
    background: #444;
    transform: rotate(calc(((var(--i) - 0) * 0.01turn)));
}
.container .progress h2 {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 19px;
    color: var(--clr);
    font-family: "roboto-mono";
}
.container .progress h4 {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0;
    color: var(--clr);
    font-family: "roboto-mono";
}



.footer_dad{
    background: linear-gradient(120deg, #c9740473 30%, #5b4018c8 38%, #d7c90dcc 40%, #65650ea9 40%);
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: load 4s infinite;
    width: 100%;
    margin: 10px 0;
    height: 85%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
@keyframes load{
    100%{
        background-position: -100% 0;
    }
}
.footer_son{
    display: flex;
    background: rgba(43, 66, 100, 0.348);
    width: 66.5vw;
    height: 13vh;
    justify-content: center;
    gap: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
#rocket{
    display: flex;
}#rocket a{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color--two);
}
#rocket span{
    /* background: rgb(69, 245, 0); */
    width: 100%;
    margin-left: 24px;
    color: white;
    font-family: "roboto-mono";
    text-align: center;
}
#rocket img{
    width: 50px;
    position: relative;
    margin-left: 22px;
    margin-top: 15px;
}
#mGS2SGrid{
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: repeat(3, 1fr);
}
.mGS2SGGridSection{
    border: 1px solid pink;
}
.information_rocket{
    padding: 8px;
    width: 100%;
    height: 100%;
    /* background: red; */
}
.cont_espera{
    display: flex;
    background: linear-gradient(120deg, #c9740449 30%, #5b4018c8 38%, #d7c90d7d 40%, #65650ea9 40%);
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: load 2s infinite;
    width: 325px;
    margin: 12px 0;
    height: 30%;
}
@keyframes load{
    100%{
        background-position: -100% 0;
    }
}
.cont_espera img{
    position: absolute;
    width:  326px;
    height: 120px;
    filter:grayscale(yellow);
}
.content_information{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    width: 100%;
    height: 60%;
}

.titlecontent_information{
    display: flex;
    width: 100%;
    height:20%;
}
.titlecontent_information h1{
    font-family: "roboto-mono";
    font-size: 20px;
    color: white;
    text-align: center;
}
.contenido{
    display: flex;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    margin-top: 20px;
}
.contenido::-webkit-scrollbar{
    width: 8px;
    background: rgba(108, 107, 107, 0.653);
    border-radius: 10px;
}
.contenido::-webkit-scrollbar-thumb{
    background: #069431a0;
    border-radius: 10px;
    border-right: 1px solid #069431a0;
}
.contenido2{
    display: flex;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    margin-top: 20px;
}
.contenido2::-webkit-scrollbar{
    width: 8px;
    background: rgba(108, 107, 107, 0.653);
    border-radius: 10px;
}
.contenido2::-webkit-scrollbar-thumb{
    background: #bc4703;
    border-radius: 10px;
    border-right: 1px solid #069431a0;
}
.contenido_hijo{
    grid-column: 1;
    width: 70%;
    height: 100%;
}
.contenido_hijo p{
    margin-top: 15px;
    color: white;
    font-family: "roboto-mono";
}
.contenido_hijo2{
    /* background: rgb(72, 255, 0); */
    width: 30%;
    height: 100%;
}
.contenido_hijo2 p{
    margin-top: 15px;
    color: white;
    font-family: "roboto-mono";
}
.continformation{
    display: grid;
    grid-template-columns: 10%  90%;
}
.conttexto{
    display: grid;
}
.conttexto a{
    color: white;
    margin-top: 20px;
}
.conttexto h1{
    font-size: 12px;
    font-family: "roboto-mono";
    color: white;
    margin-top: 25px;
    margin-left: 5px;
}
.conttexto h2{
    color: white;
    font-size: 20px;
    margin-top: 15px;
    margin-left: 5px;
    font-family: "lato-bold";
}
.conttexto img{
    margin-top: 15px;
    width: 25px;
}
.contTitle{
    display: flex;
    /* background: red; */
    justify-content: center;
    text-align: center;
}
.contTitle h1{
    color: white;
    font-size: 60px;
    font-family: "roboto-mono"
}
.contenedorData{
    display: flex;
    position: relative;
    background: rgb(4, 255, 50);
    overflow-y: scroll;
    height: 50%;
}
.Data_dad{
    display: flex;
    
}
.Data_son{
    position: relative;
    display: flex;
    width: 100%;
    margin-top: 15px;
}
.Data_son p{
    color:white;
    font-family: "roboto-mono";
    margin-left: 3px;
}
.Data_nieto{
    background: rgba(147, 114, 25, 0.356);
    width:60%;
    height: 60px;
}
.Data_nieto2{
    background: rgba(147, 114, 25, 0.356);
    width: 40%;
} 
.containerbarra{
    margin-top: 15px;
   position: relative;
   width: 200px;
   /* background: red; */
   padding: 20 0px;
   border-radius: 5px;
   margin-left: 5px;
   border-radius: 10px;
}
.containerbarra .progress{
    margin-top: 5px;
    background: rgba(62, 69, 61, 0.71);
    width: 80%;
    height: 5px;
    border-radius: 6px;
    overflow: hidden;
    margin: 5 0px;
}

.containerbarra .progress::before{
    content: " ";
    position: absolute;
    width: var(--wth,);
    height: 100%;
    background: rgb(0, 213, 255);
    border-radius: 10px;

}

.contenedorimg_dad {
    display: grid;
    height: 390px;
    width: 100%;
}

.contenedorimg_son {
    display: flex;
    border: 2px solid black;
    overflow-x: scroll;
    height: 70%;
    margin-top: 20%;    
    width: 100%;
}

.contenedorimg_son::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: rgba(108, 107, 107, 0.653);
    border-radius: 10px;
}

.contenedorimg_son::-webkit-scrollbar-thumb {
    background: #fe7301;
    border-radius: 10px;
    border-right: 1px solid #069431a0;
}
.contimage{
    display: flex;
    margin-top: 15px;
    margin-left: 15px;
}
.contimage img{ 
    width: 60px;
}
.contimage h3{
    font-size: 40px;
    color: white;
    font-family: "roboto-mono";
}
.contDescription{
    display: flex;
}
.contDescription img{
    width: 80px;
    margin-left: 20px;
    margin: 8px;
}
.contDescription h1{
    font-size: 30px;
    margin-top: 20px;
    margin-left: 10px;
    font-family: "roboto-mono";
    color: white;
}

#navigationNumbersCenter {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.navigationNumbersDiv {
    display: flex;
    width: 18vw;
    height: 14vh;
}

.navigationNumbersGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 20px);
    grid-auto-rows: 20px;
    gap: 8px;
    width: 100%;
    margin-top: 32px;
    /* background: red; */
    padding: 10px;
    overflow: auto;
}

.navigationNumber {
    width: 25px;
    height: 25px;
    background: rgb(218, 120, 7);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-family: "roboto-mono";
}

.navigationNumber:hover {
    background-color: rgb(7, 218, 70);
    border-radius: 50%;
}




