:root{
    --color-1: rgb(32, 20, 54);
}

@font-face {
    font-family: "roboto-mono";
    src: url(../storage/fonts/roboto/RobotoMono-VariableFont_wght.ttf);
}

@font-face {
    font-family: "lato-bold";
    src: url(../storage/fonts/Bold/Lato-Bold.ttf);
}