:root{
    background-image: url('../storage/image/saturn-7322056_1280.jpg');
}

@font-face {
    font-family: "roboto-mono";
    src: url(../storage/fonts/roboto/RobotoMono-VariableFont_wght.ttf);
}

@font-face {
    font-family: "lato-bold";
    src: url(../storage/fonts/Bold/Lato-Bold.ttf);
}